/*  Début Police d'écriture------------------------------------------------------------------------------------------  */

@font-face 
{
  font-family: "CoolveticaRg-Regular";
  src: url("font/coolvetica/fonts/coolveticarg.eot"); /* IE9 Compat Modes */
  src: url("font/coolvetica/fonts/coolveticarg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/coolvetica/fonts/coolveticarg.otf") format("opentype"), /* Open Type Font */
    url("font/coolvetica/fonts/coolveticarg.svg") format("svg"), /* Legacy iOS */
    url("font/coolvetica/fonts/coolveticarg.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/coolvetica/fonts/coolveticarg.woff") format("woff"), /* Modern Browsers */
    url("font/coolvetica/fonts/coolveticarg.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
	font-family: "MADETOMMY-Medium";
	src: url("font/MADETOMMY-Medium/fonts/MADETOMMYMediumPERSONALUSE.eot"); /* IE9 Compat Modes */
	src: url("font/MADETOMMY-Medium/fonts/MADETOMMYMediumPERSONALUSE.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("font/MADETOMMY-Medium/fonts/MADETOMMYMediumPERSONALUSE.otf") format("opentype"), /* Open Type Font */
	  url("font/MADETOMMY-Medium/fonts/MADETOMMYMediumPERSONALUSE.svg") format("svg"), /* Legacy iOS */
	  url("font/MADETOMMY-Medium/fonts/MADETOMMYMediumPERSONALUSE.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("font/MADETOMMY-Medium/fonts/MADETOMMYMediumPERSONALUSE.woff") format("woff"), /* Modern Browsers */
	  url("font/MADETOMMY-Medium/fonts/MADETOMMYMediumPERSONALUSE.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
  }

@font-face 
{
  font-family: "OpenSans";
  src: url("font/opensans/fonts/OpenSans-Regular.eot"); /* IE9 Compat Modes */
  src: url("font/opensans/fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/opensans/fonts/OpenSans-Regular.otf") format("opentype"), /* Open Type Font */
    url("font/opensans/fonts/OpenSans-Regular.svg") format("svg"), /* Legacy iOS */
    url("font/opensans/fonts/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/opensans/fonts/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
    url("font/opensans/fonts/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "Devonshire-Regular";
  src: url("font/devonshire/fonts/Devonshire-Regular.eot"); /* IE9 Compat Modes */
  src: url("font/devonshire/fonts/Devonshire-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/devonshire/fonts/Devonshire-Regular.otf") format("opentype"), /* Open Type Font */
    url("font/devonshire/fonts/Devonshire-Regular.svg") format("svg"), /* Legacy iOS */
    url("font/devonshire/fonts/Devonshire-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/devonshire/fonts/Devonshire-Regular.woff") format("woff"), /* Modern Browsers */
    url("font/devonshire/fonts/Devonshire-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "KidKnowledges1";
  src: url("font/Kid/fonts/KidKnowledge1.eot"); /* IE9 Compat Modes */
  src: url("font/Kid/fonts/KidKnowledge1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/Kid/fonts/KidKnowledge1.otf") format("opentype"), /* Open Type Font */
    url("font/Kid/fonts/KidKnowledge1.svg") format("svg"), /* Legacy iOS */
    url("font/Kid/fonts/KidKnowledge1.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/Kid/fonts/KidKnowledge1.woff") format("woff"), /* Modern Browsers */
    url("font/Kid/fonts/KidKnowledge1.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "RaspoutineClassic";
  src: url("font/raspoutine/fonts/RaspoutineClassicTB.eot"); /* IE9 Compat Modes */
  src: url("font/raspoutine/fonts/RaspoutineClassicTB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/raspoutine/fonts/RaspoutineClassicTB.otf") format("opentype"), /* Open Type Font */
    url("font/raspoutine/fonts/RaspoutineClassicTB.svg") format("svg"), /* Legacy iOS */
    url("font/raspoutine/fonts/RaspoutineClassicTB.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/raspoutine/fonts/RaspoutineClassicTB.woff") format("woff"), /* Modern Browsers */
    url("font/raspoutine/fonts/RaspoutineClassicTB.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "flashbackdemo-Regular";
  src: url("font/flashback/fonts/flashbackDemo.eot"); /* IE9 Compat Modes */
  src: url("font/flashback/fonts/flashbackDemo.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/flashback/fonts/flashbackDemo.otf") format("opentype"), /* Open Type Font */
    url("font/flashback/fonts/flashbackDemo.svg") format("svg"), /* Legacy iOS */
    url("font/flashback/fonts/flashbackDemo.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/flashback/fonts/flashbackDemo.woff") format("woff"), /* Modern Browsers */
    url("font/flashback/fonts/flashbackDemo.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "DMSerifText-Regular";
  src: url("font/dmserif/fonts/DMSerifText-Regular.eot"); /* IE9 Compat Modes */
  src: url("font/dmserif/fonts/DMSerifText-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/dmserif/fonts/DMSerifText-Regular.otf") format("opentype"), /* Open Type Font */
    url("font/dmserif/fonts/DMSerifText-Regular.svg") format("svg"), /* Legacy iOS */
    url("font/dmserif/fonts/DMSerifText-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/dmserif/fonts/DMSerifText-Regular.woff") format("woff"), /* Modern Browsers */
    url("font/dmserif/fonts/DMSerifText-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "apple";
  src: url("font/apple/fonts/AppleGaramond.eot"); /* IE9 Compat Modes */
  src: url("font/apple/fonts/AppleGaramond.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/apple/fonts/AppleGaramond.otf") format("opentype"), /* Open Type Font */
    url("font/apple/fonts/AppleGaramond.svg") format("svg"), /* Legacy iOS */
    url("font/apple/fonts/AppleGaramond.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/apple/fonts/AppleGaramond.woff") format("woff"), /* Modern Browsers */
    url("font/apple/fonts/AppleGaramond.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "Timeless-Normal";
  src: url("font/timeless/fonts/Timeless.eot"); /* IE9 Compat Modes */
  src: url("font/timeless/fonts/Timeless.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/timeless/fonts/Timeless.otf") format("opentype"), /* Open Type Font */
    url("font/timeless/fonts/Timeless.svg") format("svg"), /* Legacy iOS */
    url("font/timeless/fonts/Timeless.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/timeless/fonts/Timeless.woff") format("woff"), /* Modern Browsers */
    url("font/timeless/fonts/Timeless.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "NanumPen";
  src: url("font/nanum/fonts/nanumpenscript-regular.eot"); /* IE9 Compat Modes */
  src: url("font/nanum/fonts/nanumpenscript-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/nanum/fonts/nanumpenscript-regular.otf") format("opentype"), /* Open Type Font */
    url("font/nanum/fonts/nanumpenscript-regular.svg") format("svg"), /* Legacy iOS */
    url("font/nanum/fonts/nanumpenscript-regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/nanum/fonts/nanumpenscript-regular.woff") format("woff"), /* Modern Browsers */
    url("font/nanum/fonts/nanumpenscript-regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "Angelina";
  src: url("font/angelina/fonts/angelina.eot"); /* IE9 Compat Modes */
  src: url("font/angelina/fonts/angelina.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/angelina/fonts/angelina.otf") format("opentype"), /* Open Type Font */
    url("font/angelina/fonts/angelina.svg") format("svg"), /* Legacy iOS */
    url("font/angelina/fonts/angelina.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/angelina/fonts/angelina.woff") format("woff"), /* Modern Browsers */
    url("font/angelina/fonts/angelina.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "ShadowsIntoLight";
  src: url("font/shadow/fonts/ShadowsIntoLight.eot"); /* IE9 Compat Modes */
  src: url("font/shadow/fonts/ShadowsIntoLight.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/shadow/fonts/ShadowsIntoLight.otf") format("opentype"), /* Open Type Font */
    url("font/shadow/fonts/ShadowsIntoLight.svg") format("svg"), /* Legacy iOS */
    url("font/shadow/fonts/ShadowsIntoLight.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/shadow/fonts/ShadowsIntoLight.woff") format("woff"), /* Modern Browsers */
    url("font/shadow/fonts/ShadowsIntoLight.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "Childish";
  src: url("font/childish/fonts/Childish.eot"); /* IE9 Compat Modes */
  src: url("font/childish/fonts/Childish.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/childish/fonts/Childish.otf") format("opentype"), /* Open Type Font */
    url("font/childish/fonts/Childish.svg") format("svg"), /* Legacy iOS */
    url("font/childish/fonts/Childish.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/childish/fonts/Childish.woff") format("woff"), /* Modern Browsers */
    url("font/childish/fonts/Childish.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
  font-family: "KGMissKindergarten";
  src: url("font/kgmiss/fonts/KGMissKindergarten.eot"); /* IE9 Compat Modes */
  src: url("font/kgmiss/fonts/KGMissKindergarten.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("font/kgmiss/fonts/KGMissKindergarten.otf") format("opentype"), /* Open Type Font */
    url("font/kgmiss/fonts/KGMissKindergarten.svg") format("svg"), /* Legacy iOS */
    url("font/kgmiss/fonts/KGMissKindergarten.ttf") format("truetype"), /* Safari, Android, iOS */
    url("font/kgmiss/fonts/KGMissKindergarten.woff") format("woff"), /* Modern Browsers */
    url("font/kgmiss/fonts/KGMissKindergarten.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face 
{
	font-family: "CroissantOne-Regular";
	src: url("font/CroissantOne-Regular/fonts/CroissantOne-Regular.eot"); /* IE9 Compat Modes */
	src: url("font/CroissantOne-Regular/fonts/CroissantOne-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("font/CroissantOne-Regular/fonts/CroissantOne-Regular.otf") format("opentype"), /* Open Type Font */
	  url("font/CroissantOne-Regular/fonts/CroissantOne-Regular.svg") format("svg"), /* Legacy iOS */
	  url("font/CroissantOne-Regular/fonts/CroissantOne-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("font/CroissantOne-Regular/fonts/CroissantOne-Regular.woff") format("woff"), /* Modern Browsers */
	  url("font/CroissantOne-Regular/fonts/CroissantOne-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
  }

@font-face 
{
	font-family: "DancingScript";
	src: url("font/dancing/fonts/DancingScript-Regular.eot"); /* IE9 Compat Modes */
	src: url("font/dancing/fonts/DancingScript-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("font/dancing/fonts/DancingScript-Regular.otf") format("opentype"), /* Open Type Font */
		url("font/dancing/fonts/DancingScript-Regular.svg") format("svg"), /* Legacy iOS */
		url("font/dancing/fonts/DancingScript-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
		url("font/dancing/fonts/DancingScript-Regular.woff") format("woff"), /* Modern Browsers */
		url("font/dancing/fonts/DancingScript-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face 
{
	font-family: "KaushanScript-Regular";
	src: url("font/KaushanScript-Regular/fonts/KaushanScript-Regular.eot"); /* IE9 Compat Modes */
	src: url("font/KaushanScript-Regular/fonts/KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	  url("font/KaushanScript-Regular/fonts/KaushanScript-Regular.otf") format("opentype"), /* Open Type Font */
	  url("font/KaushanScript-Regular/fonts/KaushanScript-Regular.svg") format("svg"), /* Legacy iOS */
	  url("font/KaushanScript-Regular/fonts/KaushanScript-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
	  url("font/KaushanScript-Regular/fonts/KaushanScript-Regular.woff") format("woff"), /* Modern Browsers */
	  url("font/KaushanScript-Regular/fonts/KaushanScript-Regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

/*  Fin Police d'écriture------------------------------------------------------------------------------------------------  */

/*  Début Page Accueil Ohmyfood------------------------------------------------------------------------------------------  */

html, body 
{
	margin:0;
	padding:0;
}

body a
{
	text-decoration: none;
}

header
{
	height: 100px;
	background-color: #579c87;
	width: auto;
}

footer
{
	height: 50px;
	background-color: #579c87;
	width: 100%;
	position: fixed;
	bottom: 0;
}

#pagetotal
{
	display: flex;
	flex-direction: column;
	min-height: 100px;
}

#haut
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo
{
	font-size: 50px;
	font-weight: bold;
	font-family: 'CoolveticaRg-Regular', Impact, 'Times New Roman';
	color: #fdcb46;
}

#main1
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 830px;
	background-color: #ffffff;
	width: auto;
}

#menubloc
{
	height: 2230px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.menu12
{
	margin-top: 450px;
	margin-left: auto;
	margin-right: auto;
}

.menu1212
{
	width: 700px;
	display: flex;
	justify-content: space-between;
}

.menu34
{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.menu3434
{
	width: 700px;
	display: flex;
	justify-content: space-between;
}

.menu1index, .menu2index, .menu3index, .menu4index
{
	width: 320px;
	max-width: 100%;
	height: auto;
	box-shadow: 1px 1px 12px #DEDEDE;
	transition: transform 1s;
}

.menu1index:hover, .menu2index:hover, .menu3index:hover, .menu4index:hover
{
	animation-name: fondu;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 1s;
	transform-origin: 50% 50%;
	animation-direction: alternate;
	animation-fill-mode:forwards;
}

.img-zoom .zoom 
{
    overflow: hidden;
    position: relative; 
}

.img-zoom .zoom img 
{
    max-width: 100%;
    -moz-transition: all 0.8s;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
}

.img-zoom .zoom * 
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.img-zoom:hover .zoom img 
{
    -moz-transform: scale(1.10);
    -webkit-transform: scale(1.10);
	transform: scale(1.10);
}


@keyframes fondu
{
	0%
	{
		opacity: 1;
	}
	50%
	{
		opacity: 0.5;
	}
	100%
	{
		opacity: 1;
	}
}

#prochainement
{
	margin-top: 50px;
	height: 80px;
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.txtproche 
{
    font-size: 36px;
    font-family: sans-serif;
}

.txtproche:hover:after
{
	display: inline-block;
	animation: point steps(1,end) 1s infinite;
	content: '';
}

@keyframes point 
{
  	0%   { content: ''; }
  	25%  { content: '.'; }
  	50%  { content: '..'; }
  	75%  { content: '...'; }
  	100% { content: ''; }
}

#proche
{
	height: 50px;
	line-height: 50px;	
	width: 350px;
	background: #579c87;
	border-radius: 10px;
	text-decoration: none;
}

.txtproche
{
	font-size: 28px;
	font-family: 'OpenSans', Impact, 'Times New Roman';
	padding-left: 20%;
	color: #fdcb46;
}

#bas
{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mentions
{
	margin-left: 15px;
	font-family: 'OpenSans', Impact, 'Times New Roman';
	color: #fdcb46;
}

.mentions:hover
{
	animation: wiggle 100ms cubic-bezier(.4,.1,.6,.9) 2;
}

@keyframes wiggle{
	25% 
	{
    	transform:  translateX(2%);
  	}

	  75% 
	{
    	transform:  translateX(2%);
 	}
}

.contactez
{
	margin-right: 15px;
	font-family: 'OpenSans', Impact, 'Times New Roman';
	color: #fdcb46;
}

.contactez:hover
{
	animation: wiggle 100ms cubic-bezier(.4,.1,.6,.9) 2;
}

@keyframes wiggle{
  	25% 
  	{
    	transform:  translateX(2%);
  	}

  	75% 
  	{
    	transform:  translateX(2%);
  	}
}

.menu2index
{
	margin-left: 40px;
}

.menu4index
{
	margin-left: 40px;
}

/*  Fin Page Accueil Ohmyfood------------------------------------------------------------------------------------------ */

/*  Début Page Accuei Phone & Tablettel Ohmyfood----------------------------------------------------------------------- */

@media all and (max-width: 950px)
{

	#menubloc
	{
		height: 2230px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.menu12
	{
		margin-top: 350px;
		margin-left: auto;
		margin-right: auto;
	}

	#main1
	{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 1830px;
	}

	#menubloc
	{
		height: 4230px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.menu1212
	{
			margin-top: 140px;
			width: auto;
			height: 970px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
	}

	.menu3434
	{
			margin-top: 10px;
			width: auto;
			height: 970px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
	}

}

/*  Fin Page Accuei Phone & Tablettel Ohmyfood----------------------------------------------------------------------- */

/*  Début Page Mentions --------------------------------------------------------------------------------------------  */

#menublocmen
{
	min-height: 10px;
	flex: 1;
	margin-bottom: 80px;
}

.txtmentions
{
	margin-left: 40px;
	margin-right: 40px;
	margin-top: 30px;
	font-family: 'OpenSans', Impact, 'Times New Roman';
	text-align: justify;
	color: #579c87;
}

/*  Fin Page Mentions Légales -------------------------------------------------------------------------------------------  */

/*  Début Page CSS Menu 1------------------------------------------------------------------------------------------------  */

#menu1main
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#menubloca
{
	min-height: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.blocmen10
{
	text-align: center;
	font-size: 40px;
	margin-top: 40px;
	font-family: 'MADETOMMY-Medium', Impact, 'Times New Roman';
}

#bloca
{
	height: 1650px;
	width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	box-shadow: 1px 1px 12px #DEDEDE;
	background-color: #fcdfdb;
}

.blocmen11
{
	width: 750px;
	height: 1750px;
	display: flex;
	flex-direction: column;
	background-color: #fcdfdb;
}

.blocmen111
{
	height: 355px;
	font-family: 'Devonshire-Regular', Impact, 'Times New Roman';
}

.blocmen1111
{
	height: 150px;
	margin-top: 72px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.note1
{
	width: 100px;
}

.blocmen1112
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #3d1319;
}

.note2
{
	font-size: 60px;
	width: auto;
}

.blocmen1112
{
	height: 80px;
}

.blocmen112, .blocmen114, .blocmen116
{
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.note1131, .note1151, .note1171
{
	margin-top: 20px;
}

.note1122, .note1142, .note1162
{
	font-family: 'KidKnowledges1', Impact, 'Times New Roman';
	font-size: 38px;
	background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	transition: background-size .5s;
	width: 300px;
	text-align: center;
}

.note1122:hover, .note1142:hover, .note1162:hover
{
	background-size: 100% 100%;
}

.blocmen115
{
	height: 430px;
	display: flex;
	flex-direction: column;
}

.note1131, .note1132, .note1133, .note1134, .note1151, .note1152, .note1153, .note1171, .note1172, .note1173
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	text-decoration: none;
}

.note11311, .note11321, .note11331, .note11341, .note11511, .note11521, .note11531, .note11711, .note11721, .note11731
{
	font-family: 'RaspoutineClassic', Impact, 'Times New Roman';
	font-size: 22px;
}

.note11312, .note11322, .note11332, .note11342, .note11512, .note11522, .note11532
{
	font-family: 'flashbackdemo-Regular', Impact, 'Times New Roman';
	font-size: 40px;
}

.blocmen113
{
	height: 370px;
}

.blocmen114
{
	height: 50px;
	margin-top: 10px;
}

.blocmen115
{
	height: 300px;
}

.blocmen117
{
	height: 250px;
}

.blocmen118
{
	height: 146px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.notefin1
{
	height: 70px;
}

.notefin2
{
	font-family: 'Devonshire-Regular', Impact, 'Times New Roman';
	color: #3d1319;
	font-size: 50px;
	margin-left: 15px;
}

.red1
{
	width: 80%;
	position: relative;
	left: 0%;
}

.red11
{
	width: 80%;
	position: relative;
	left: 23%;
}

.red12
{
	width: 80%;
	position: relative;
	left: 0%;
}

.red121
{
	width: 80%;
	position: relative;
	left: 22%;
}

.red13
{
	width: 80%;
	position: relative;
	left: 0%;
}

.red131
{
	width: 80%;
	position: relative;
	right: -22%;
}

/*  Fin Page CSS Menu 1--------------------------------------------------------------------------------------------------  */

/*  Début Page Tablette CSS Menu 1---------------------------------------------------------------------------------------  */

@media all and (max-width: 1050px)
{

	#menubloca
	{
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#bloca
	{
		min-height: 10px;
		width: auto;
		margin-top: 20px;
	}

	.blocmen10
	{
		text-align: center;
		width: auto;
		min-height: 10px;
		flex: 1;
		font-size: 40px;
		margin-top: 40px;
		margin-left: 0;
	}

	.blocmen11
	{
		width: auto;
		min-height: 10px;
		flex: 1;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.blocmen112, .blocmen114, .blocmen116
	{
		height: 50px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.note1122, .note1142, .note1162
	{
		font-family: 'KidKnowledges1', Impact, 'Times New Roman';
		font-size: 38px;
		white-space:nowrap;
		background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
		transition: background-size .5s;
	}

	.blocmen113
	{
		height: 400px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.blocmen115
	{
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 12px;
	}

	.blocmen117
	{
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.blocmen115
	{
		height: 430px;
		display: flex;
		flex-direction: column;
	}

	.blocmen117
	{
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.note1171, .note1172, .note1173
	{
		display: flex;
		align-items: center;
		height: 95px;
		text-decoration: none;
	}

	.note1131, .note1132, .note1133, .note1134, .note1151, .note1152, .note1153
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-decoration: none;
		width: 80%;
	}

	.note1171, .note1172, .note1173
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-decoration: none;
		width: 70%;
	}

	.blocmen118
	{
		height: 146px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 80px;
	}

	.blocmen113
	{
		height: 370px;
	}

	.blocmen114
	{
		height: 50px;
		margin-top: 10px;
	}

	.blocmen115
	{
		height: 300px;
	}

	.blocmen117
	{
		height: 250px;
	}

	.red1
	{
		width: 80%;
		position: relative;
		left: 9%;
	}
	
	.red11
	{
		width: 80%;
		position: relative;
		left: 15%;
	}

	.red12
	{
		width: 80%;
		position: relative;
		left: 10%;
	}
	
	.red121
	{
		width: 80%;
		position: relative;
		left: 15%;
	}

	.red13
	{
		width: 80%;
		position: relative;
		left: 11%;
	}
	
	.red131
	{
		width: 80%;
		position: relative;
		right: -12%;
	}

	.note11321, .note11521
	{
		position: relative;
		padding-top: 17px;
	}

	.note11322, .note11522
	{
		position: relative;
		padding-bottom: 10px;
	}
}

/*  Fin Page Tablette CSS Menu 1-----------------------------------------------------------------------------------------  */

/*  Début Page Phone CSS Menu 1------------------------------------------------------------------------------------------  */

@media all and (max-width: 770px)
{

	html, body
	{
		min-height: auto;
		width: 100%;
	}

	#menubloca
	{
		min-height: 10px;
		width: 100%;
		margin: auto;
	}

	#bloca
	{
		min-height: 10px;
		min-width: 10px;
		margin-top: 20px;
	}

	.blocmen10
	{
		text-align: center;
		width: 100%;
		min-width: 10px;
		font-size: 40px;
		margin-top: 40px;
		margin-left: 0;
	}

	.blocmen11
	{
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		height: 2050px;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.blocmen113
	{
		height: 400px;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.blocmen115
	{
		height: 300px;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 12px;
	}

	.blocmen117
	{
		height: 250px;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.blocmen118
	{
		height: 146px;
		flex: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 80px;
	}

	.note1131, .note1132, .note1133, .note1134, .note1151, .note1152, .note1153, .note1171, .note1172, .note1173
	{
		flex: 1;
		text-align: center;
		text-decoration: none;
		width: 80%;
	}

	.note11321, .note11521
	{
		position: relative;
		padding-top: 17px;
	}

	.note11322, .note11522
	{
		position: relative;
		padding-bottom: 10px;
	}

	.notefin1
	{
		height: 50px;
	}

	.notefin2
	{
		font-family: 'Devonshire-Regular', Impact, 'Times New Roman';
		color: #3d1319;
		font-size: 50px;
		margin-left: 15px;
	}


	.red1
	{
		width: 80%;
		position: relative;
		left: 5%;
	}
	
	.red11
	{
		width: 80%;
		position: relative;
		left: 16%;
	}

	.red12
	{
		width: 80%;
		position: relative;
		left: 10%;
	}
	
	.red121
	{
		width: 80%;
		position: relative;
		left: 15%;
	}

	.red13
	{
		width: 80%;
		position: relative;
		left: 11%;
	}
	
	.red131
	{
		width: 80%;
		position: relative;
		right: -12%;
	}

	#bas
	{
		width: 100%;
	}  

	footer
	{
		height: 50px;
		background-color: #579c87;
		width: 100%;
		position: fixed;
		bottom: 0;
	}

}

/*  Fin Page Phone CSS Menu 1--------------------------------------------------------------------------------------------  */

/*  Début Page CSS Menu 2------------------------------------------------------------------------------------------------  */

#b2loca
{
	height: 1650px;
	width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	box-shadow: 1px 1px 12px #DEDEDE;
	background-color: #fff5fe;
}

.b2locmen11
{
	width: 750px;
	height: 1750px;
	display: flex;
	flex-direction: column;
	background-color: #fff5fe;
}

.b2locmen111
{
	height: 370px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.b2locmen1111
{
	height: 150px;
	font-family: 'CroissantOne-Regular', Impact, 'Times New Roman';
	font-size: 50px;
	background-image: linear-gradient(to bottom right, #df871e 0%, #8f5bfe 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.b2locmen112, .b2locmen114, .b2locmen116
{
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.n2ote1122
{
	font-family: 'DMSerifText-Regular', Impact, 'Times New Roman';
	font-size: 28px;
	background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
 	transition: background-size .5s;
	color: #c67412;
	white-space:nowrap;
}

.n2ote1142
{
	font-family: 'DMSerifText-Regular', Impact, 'Times New Roman';
	font-size: 28px;
	color: #a56799;
	background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	 transition: background-size .5s;
	 white-space:nowrap;
}

.n2ote1162
{
	font-family: 'DMSerifText-Regular', Impact, 'Times New Roman';
	font-size: 28px;
	background-color: black;
	color: #6e4ccc;
	background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	 transition: background-size .5s;
	 white-space:nowrap;
}

.n2ote1122:hover, .n2ote1142:hover, .n2ote1162:hover
{
	background-size: 100% 100%;
}

.note1131, .note1151, .note1171
{
	margin-top: 20px;
}

.note1131, .note1132, .note1133, .note1134, .note1151, .note1152, .note1153, .note1171, .note1172, .note1173
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	text-decoration: none;
}

.n2ote11311, .n2ote11321, .n2ote11331, .n2ote11341, .n2ote11511, .n2ote11521, .n2ote11531, .n2ote11711, .n2ote11721, .n2ote11731
{
	font-family: 'apple', Impact, 'Times New Roman';
	font-size: 29px;
}

.n2ote11511, .n2ote11512, .n2ote11521, .n2ote11522, .n2ote11531, .n2ote11532
{
	color: #bc8bb2;
}

.n2ote11311, .n2ote11312, .n2ote11321, .n2ote11322, .n2ote11331, .n2ote11332
{
	color: #d4944d;
}

.n2ote11711, .n2ote11721, .n2ote11731
{
	color: #6e4ccc;
}

.n2ote11312, .n2ote11322, .n2ote11332, .n2ote11342, .n2ote11512, .n2ote11522, .n2ote11532
{
	font-family: 'Timeless-Normal', Impact, 'Times New Roman';
	font-size: 30px;
}

.b2locmen113
{
	height: 300px;
}

.b2locmen115
{
	height: 300px;
}

.b2locmen117
{
	height: 250px;
}

.red2
{
	width: 160%;
	position: relative;
	left: -60%;
}

.red21
{
	width: 160%;
	position: relative;
	left: -15%;
}

.red22
{
	width: 130%;
	position: relative;
	left: -45%;
}

.red221
{
	width: 130%;
	position: relative;
	left: 9%;
}

.red222
{
	width: 130%;
	position: relative;
	left: -38%;
}

.red2221
{
	width: 130%;
	position: relative;
	left: 10%;
}

/*  Fin Page CSS Menu 2--------------------------------------------------------------------------------------------------  */

/*  Début Page Tablette CSS Menu 2---------------------------------------------------------------------------------------  */

@media all and (max-width: 1050px)
{

	#b2loca
	{
		height: 1650px;
		width: auto;
		margin-top: 20px;
	}

	.b2locmen11
	{
		height: 1650px;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b2locmen111
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b2locmen1111
	{
		height: 200px;
		font-family: 'CroissantOne-Regular', Impact, 'Times New Roman';
		font-size: 50px;
		background-image: linear-gradient(to bottom right, #df871e 0%, #8f5bfe 75%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b2locmen112, .b2locmen114, .b2locmen116
	{
		height: 50px;
		width: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	

	.b2locmen113
	{
		height: 320px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.b2locmen115
	{
		height: 340px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 12px;
	}

	.b2locmen117
	{
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 200px;
	}

	.n2ote1131, .n2ote1132, .n2ote1133, .n2ote1151, .n2ote1152, .n2ote1153, .n2ote1171, .n2ote1172, .n2ote1173
	{
		flex: 1;
		text-align: center;
		text-decoration: none;
		width: 90%;
	}

	.n2ote11321, .n2ote11331
	{
		position: relative;
		padding-top: 17px;
	}

	.n2ote11322, .n2ote11332
	{
		position: relative;
		padding-bottom: 10px;
	}

	.red2
	{
		width: 110%;
		position: relative;
		left: -10%;
	}

	.red21
	{
		width: 110%;
		position: relative;
		left: -10%;
	}

	.red22
	{
		width: 90%;
		position: relative;
		left: -3%;
	}

	.red221
	{
		width: 90%;
		position: relative;
		left: 9%;
	}
	
	.red222
	{
		width: 92%;
		position: relative;
		left: 3%;
	}

	.red2221
	{
		width: 92%;
		position: relative;
		left: 6%;
	}

}

/*  Fin Page Tablette CSS Menu 2-----------------------------------------------------------------------------------------  */

/*  Début Page Phone CSS Menu 2------------------------------------------------------------------------------------------  */

@media all and (max-width: 770px)
{

	#b2loca
	{
		min-width: 10px;
		margin-top: 20px;
		width: 100%;
		height: 1750px;
	}

	.blocmen10
	{
		text-align: center;
		min-width: 10px;
		font-size: 30px;
		margin-top: 40px;
		margin-left: 0;
	}

	.b2locmen11
	{
		height: 1750px;
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b2locmen111
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b2locmen1111
	{
		height: 200px;
		font-family: 'CroissantOne-Regular', Impact, 'Times New Roman';
		font-size: 30px;
		background-image: linear-gradient(to bottom right, #df871e 0%, #8f5bfe 75%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.b2locmen112, .b2locmen114, .b2locmen116
	{
		height: 50px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	

	.b2locmen113
	{
		height: 340px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.b2locmen115
	{
		height: 440px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 12px;
	}

	.b2locmen117
	{
		height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 200px;
	}

	.n2ote1131, .n2ote1132, .n2ote1133, .n2ote1151, .n2ote1152, .n2ote1153, .n2ote1171, .n2ote1172, .n2ote1173
	{
		flex: 1;
		text-align: center;
		text-decoration: none;
		width: 90%;
	}

	.n2ote11321, .n2ote11331, .n2ote11521, .n2ote11531
	{
		position: relative;
		padding-top: 17px;
	}

	.n2ote11322, .n2ote11332, .n2ote11522, .n2ote11532
	{
		position: relative;
		padding-bottom: 10px;
	}

	.n2ote11731
	{
		margin-top: -8%;
	}

	.n2ote11512
	{
		padding-bottom: 20PX;
	}

	.n2ote1122
	{
		width: 300px;
		white-space:nowrap;
	}

	.n2ote1142
	{
		width: 280px;
		white-space:nowrap;
		text-align: center;
	}

	.n2ote1162
	{
		width: 280px;
		white-space:nowrap;
	}

	.red2
	{
		width: 90%;
		position: relative;
		left: 1%;
		flex: 1;
	}

	.red21
	{
		width: 90%;
		position: relative;
		left: 5%;
	}

	.red22
	{
		width: 67%;
		position: relative;
		left: 1%;
	}

	.red221
	{
		width: 67%;
		position: relative;
		left: 30%;
	}
	
	.red222
	{
		width: 73%;
		position: relative;
		left: 8%;
	}

	.red2221
	{
		width: 73%;
		position: relative;
		left: 21%;
	}

}

/*  Fin Page Phone CSS Menu 2--------------------------------------------------------------------------------------------  */

/*  Début Page CSS Menu 3------------------------------------------------------------------------------------------------  */

#b3loca
{
	height: 1850px;
	width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	box-shadow: 1px 1px 12px #DEDEDE;
	background-color: #edefef;
}

.b3locmen11
{
	width: 750px;
	height: 1850px;
	display: flex;
	flex-direction: column;
	background-color: #edefef;
}

.b3locmen111
{
	height: 370px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.b3locmen1111
{
	height: 150px;
	width: 600px;
	font-family: 'DancingScript', Impact, 'Times New Roman';
	font-size: 80px;
	background-image: linear-gradient(to bottom right, #022ddf 0%, #0889fb 85%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.n3ote1122
{
	font-family: 'NanumPen', Impact, 'Times New Roman';
	font-size: 38px;
	color: #0e0e0e;
	background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	 transition: background-size .5s;
	 white-space:nowrap;
}

.n3ote1142
{
	font-family: 'NanumPen', Impact, 'Times New Roman';
	font-size: 38px;
	color: #0e0e0e;
	background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	 transition: background-size .5s;
	 white-space:nowrap;
}

.n3ote1162
{
	font-family: 'NanumPen', Impact, 'Times New Roman';
	font-size: 38px;
	color: #0e0e0e;;
	background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	 transition: background-size .5s;
	 white-space:nowrap;
}

.n3ote1122:hover, .n3ote1142:hover, .n3ote1162:hover
{
	background-size: 100% 100%;
}

.b3locmen112, .b3locmen114, .b3locmen116
{
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.n3ote1131, .n3ote1132, .n3ote1133, .n3ote1134, .n3ote1151, .n3ote1152, .n3ote1153, .n3ote1171, .n3ote1172, .n3ote1173
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 65px;
	text-decoration: none;
}

.n3ote11311, .n3ote11321, .n3ote11331, .n3ote11341, .n3ote11511, .n3ote11521, .n3ote11531, .n3ote11711, .n3ote11721, .n3ote11731
{
	font-family: 'ShadowsIntoLight', Impact, 'Times New Roman';
	font-size: 27px;
}

.n3ote11511, .n3ote11512, .n3ote11521, .n3ote11522, .n3ote11531, .n3ote11532
{
	color: #0e0e0e;
}

.n3ote11311, .n3ote11312, .n3ote11321, .n3ote11322, .n3ote11331, .n3ote11332
{
	color: #0e0e0e;
}

.n3ote11711, .n3ote11721, .n3ote11731
{
	color: #0e0e0e;
}

.n3ote11312, .n3ote11322, .n3ote11332, .n3ote11342, .n3ote11512, .n3ote11522, .n3ote11532, .n3ote11712, .n3ote11722, .n3ote11732
{
	font-family: 'Childish', 'Impact', 'Times New Roman';
	font-size: 20px;
}

.b3locmen113
{
	height: 300px;
	margin-top: 30px;
}

.b3locmen115
{
	height: 300px;
	margin-top: 30px;
}

.b3locmen117
{
	height: 250px;
	margin-top: 30px;
}

.red3
{
	width: 120%;
	position: relative;
	left: -35%;
}

.red31
{
	width: 120%;
	position: relative;
	left: 14%;
}

.red32
{
	width: 117%;
	position: relative;
	left: -35%;
}

.red321
{
	width: 117%;
	position: relative;
	left: 16%;
}

.red33
{
	width: 117%;
	position: relative;
	left: -35%;
}

.red331
{
	width: 117%;
	position: relative;
	left: 16%;
}

/*  Fin Page CSS Menu 3------------------------------------------------------------------------------------------------  */

/*  Début Page Tablette CSS Menu 3-------------------------------------------------------------------------------------  */

@media all and (max-width: 1050px)
{

	#b3loca
	{
		height: 1845px;
		width: auto;
		margin-top: 20px;
	}

	.b3locmen11
	{
		height: 1845px;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b3locmen111
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b3locmen1111
	{
		height: 150px;
		width: 600px;
		font-family: 'DancingScript', Impact, 'Times New Roman';
		font-size: 80px;
		background-image: linear-gradient(to bottom right, #022ddf 0%, #0889fb 85%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b3locmen112, .b3locmen114, .b3locmen116
	{
		height: 50px;
		width: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.b3locmen113
	{
		height: 390px;
		margin-top: 0px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.b3locmen115
	{
		height: 390px;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 5px;
	}

	.b3locmen117
	{
		height: 300px;
		margin-top: 20px;
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 200px;
	}

	.n3ote1131, .n3ote1132, .n3ote1133, .n3ote1151, .n3ote1152, .n3ote1153, .n3ote1171, .n3ote1172, .n3ote1173
	{
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 90%;
	}

	.n3ote11311, .n3ote11521, .n3ote11531
	{
		position: relative;
		padding-top: 17px;
	}

	.n3ote11312, .n3ote11522, .n3ote11532
	{
		position: relative;
		padding-bottom: 10px;
	}

	.red3
	{
		width: 80%;
		position: relative;
		left: 10%;
	}

	.red31
	{
		width: 80%;
		position: relative;
		left: 10%;
	}

	
	.red32
	{
		width: 76%;
		position: relative;
		left: 10%;
	}

	.red321
	{
		width: 76%;
		position: relative;
		left: 14%;
	}

	.red33
	{
		width: 75%;
		position: relative;
		left: 10%;
	}

	.red331
	{
		width: 75%;
		position: relative;
		left: 15%;
	}

}

/*  Fin Page Tablette CSS Menu 3---------------------------------------------------------------------------------------  */

/*  Début Page Phone CSS Menu 3----------------------------------------------------------------------------------------  */

@media all and (max-width: 770px)
{

	#menubloca
	{
		min-height: 10px;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	#b3loca
	{
		min-width: 10px;
		margin-top: 20px;
		width: 100%;
		height: 1930px;
	}

	.blocmen10
	{
		text-align: center;
		min-width: 10px;
		font-size: 40px;
		margin-top: 40px;
		margin-left: 0;
	}

	.b3locmen11
	{
		height: 1930px;
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b3locmen111
	{
		flex: 1;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b3locmen1111
	{
		height: 150px;
		width: 100%;
		font-family: 'DancingScript', Impact, 'Times New Roman';
		font-size: 50px;
		background-image: linear-gradient(to bottom right, #022ddf 0%, #0889fb 85%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b3locmen112, .b3locmen114, .b3locmen116
	{
		height: 50px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}	

	.b3locmen113
	{
		height: 390px;
		margin-top: 25px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	.b3locmen115
	{
		margin-top: 25px;
		padding-top: 20px;
		height: 390px;
		display: flex;
		width: 90%;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}

	.b3locmen117
	{
		height: 300px;
		padding-top: 20px;
		margin-top: 25px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 200px;
	}

	.n3ote1131, .n3ote1132, .n3ote1133, .n3ote1151, .n3ote1152, .n3ote1153, .n3ote1171, .n3ote1172, .n3ote1173
	{
		flex: 1;
		text-align: center;
		text-decoration: none;
		width: 90%;
	}

	.n3ote11311, .n3ote11521, .n3ote11531, .n3ote11731, .n3ote11721
	{
		position: relative;
		padding-top: 17px;
	}

	.n3ote11312, .n3ote11522, .n3ote11722, .n3ote11532, .n3ote11732
	{
		position: relative;
		padding-bottom: 10px;
	}

	.n3ote11331
	{
		padding-top: 23px;
	}

	.n3ote11332
	{	
		padding-bottom: 25px;
	}

	.n3ote1122
	{
		width: 300px;
		white-space:nowrap;
		text-align: center;
	}

	.n3ote1142
	{
		width: 280px;
		white-space:nowrap;
		text-align: center;
	}

	.n3ote1162
	{
		width: 280px;
		white-space:nowrap;
	}

	.red3
	{
		width: 75%;
		position: relative;
		left: -3%;
	}

	.red31
	{
		width: 75%;
		position: relative;
		left: 0%;
	}

	.red32
	{
		width: 75%;
		position: relative;
		left: -3%;
	}

	.red321
	{
		width: 75%;
		position: relative;
		left: 1%;
	}

	.red33
	{
		width: 75%;
		position: relative;
		left: -3%;
	}

	.red331
	{
		width: 75%;
		position: relative;
		left: 1%;
	}

}

/*  Début Fin Phone CSS Menu 3-----------------------------------------------------------------------------------------  */


/*  Début Page CSS Menu 4-----------------------------------------------------------------------------------------------  */

#b4loca
{
	height: 1650px;
	width: 1000px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	box-shadow: 1px 1px 12px #DEDEDE;
	background-color: #fdfffd;
}

.b4locmen11
{
	width: 750px;
	height: 1750px;
	display: flex;
	flex-direction: column;
	background-color: #fdfffd;
}

.b4locmen111
{
	height: 370px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.b4locmen1111
{
	height: 150px;
	width: 650px;
	font-family: 'KaushanScript-Regular', Impact, 'Times New Roman';
	font-size: 80px;
	background-image: linear-gradient(to bottom right, #3d923a 0%, #beff7f 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.n4ote1122
{
	font-family: 'KGMissKindergarten', Impact, 'Times New Roman';
	font-size: 28px;
	color: #0e0e0e;
	background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	 transition: background-size .5s;
	 white-space:nowrap;
}

.n4ote1142
{
	font-family: 'KGMissKindergarten', Impact, 'Times New Roman';
	font-size: 28px;
	color: #0e0e0e;
	background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	 transition: background-size .5s;
	 white-space:nowrap;
}

.n4ote1162
{
	font-family: 'KGMissKindergarten', Impact, 'Times New Roman';
	font-size: 28px;
	color: #0e0e0e;;
	background: linear-gradient(to top, rgba(87, 156, 135, 0.5) 0%, rgba(87, 156, 135, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
	 transition: background-size .5s;
	 white-space:nowrap;
}

.n4ote1122:hover, .n4ote1142:hover, .n4ote1162:hover
{
	background-size: 100% 100%;
}

.b4locmen112, .b4locmen114, .b4locmen116
{
	height: 50px;
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.n4ote1131, .n4ote1132, .n4ote1133, .n4ote1151, .n4ote1152, .n4ote1153, .n4ote1171, .n4ote1172, .n4ote1173
{
	display: flex;
	justify-content: space-between;
}

.note1131, .n4ote1132, .note1133, .note1134, .note1151, .note1152, .note1153, .note1171, .note1172, .note1173
{
	display: flex;
	height: 65px;
	text-decoration: none;
}

.n4ote11311, .n4ote11321, .n4ote11331, .n4ote11341, .n4ote11511, .n4ote11521, .n4ote11531, .n4ote11711, .n4ote11721, .n4ote11731
{
	font-family: 'ShadowsIntoLight', Impact, 'Times New Roman';
	font-size: 25px;
}

.n4ote11511, .n4ote11512, .n4ote11521, .n4ote11522, .n4ote11531, .n4ote11532
{
	color: #0e0e0e;
}

.n4ote11311, .n4ote11312, .n4ote11321, .n4ote11322, .n4ote11331, .n4ote11332
{
	color: #0e0e0e;
}

.n4ote11711, .n4ote11721, .n4ote11731
{
	color: #0e0e0e;
}

.n4ote11312, .n4ote11322, .n4ote11332, .n4ote11342, .n4ote11512, .n4ote11522, .n4ote11532, .n4ote11712, .n4ote11722, .n4ote11732
{
	font-family: 'Childish', 'Impact', 'Times New Roman';
	font-size: 20px;
}

.n4ote1132
{
	position: relative;
	top: 4%;
}

.b4locmen113
{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 13%;
	margin-top: 5%;
}

.b4locmen115
{
	height: 210px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	margin-top: 5%;
	margin-bottom: 10%;
}

.b4locmen117
{
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.red4
{
	width: 105%;
	position: relative;
	left: -38%;
}

.red41
{
	width: 105%;
	position: relative;
	left: 32%;
}

.red42
{
	width: 132%;
	position: relative;
	left: -47%;
}

.red421
{
	width: 132%;
	position: relative;
	left: 15%;
}

.red43
{
	width: 140%;
	position: relative;
	left: -50%;
}

.red431
{
	width: 140%;
	position: relative;
	left: 10%;
}

/*  Fin Page CSS Menu 4------------------------------------------------------------------------------------------------  */

/*  Début Page Tablette CSS Menu 4-------------------------------------------------------------------------------------  */

@media all and (max-width: 1050px)
{

	#b4loca
	{
		height: 1810px;
		width: auto;
		margin-top: 20px;
	}

	.b4locmen11
	{
		height: 1810px;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b4locmen111
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b4locmen1111
	{
		height: 150px;
		font-family: 'KaushanScript-Regular', Impact, 'Times New Roman';
		font-size: 70px;
		background-image: linear-gradient(to bottom right, #3d923a 0%, #beff7f 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b4locmen112, .b4locmen114, .b4locmen116
	{
		height: 50px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	

	.b4locmen114
	{
		margin-top: -10%;
	}

	.b4locmen116
	{
		margin-top: -10px;
	}

	.b4locmen113
	{
		height: 330px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 2%;
	}

	.n4ote1131
	{
		position: relative;
		top: 4%;
	}

	.b4locmen115
	{
		height: 330px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: 4%;
		margin-bottom: 3%;
	}

	.b4locmen117
	{
		height: 350px;
		width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 200px;
	}

	.n4ote1131, .n4ote1132, .n4ote1133, .n4ote1151, .n4ote1152, .n4ote1153, .n4ote1171, .n4ote1172, .n4ote1173
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		text-decoration: none;
		width: 100%;
	}

	.n4ote11311, .n4ote11321, .n4ote11531
	{
		position: relative;
		padding-top: 17px;
	}

	.n4ote11312, .n4ote11322, .n4ote11532
	{
		position: relative;
		padding-bottom: 10px;
	}

	.n4ote11531, .n4ote11711
	{
		position: relative;
		padding-top: 17px;
	}

	.n4ote11532, .n4ote11712
	{
		position: relative;
		padding-bottom: 20px;
	}

	.red4
	{
		width: 71%;
		position: relative;
		left: 2%;
	}

	.red41
	{
		width: 71%;
		position: relative;
		left: 27%;
	}

	.red42
	{
		width: 90%;
		position: relative;
		left: 2%;
	}

	.red421
	{
		width: 90%;
		position: relative;
		left: 8%;
	}

	.red43
	{
		width: 95%;
		position: relative;
		left: 2%;
	}

	.red431
	{
		width: 95%;
		position: relative;
		left: 3%;
	}

}


/*  Fin Page Tablette CSS Menu 4---------------------------------------------------------------------------------------  */

/*  Début Page Phone CSS Menu 4----------------------------------------------------------------------------------------  */

@media all and (max-width: 770px)
{

	#menubloca
	{
		min-height: 10px;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.blocmen10
	{
		text-align: center;
		min-width: 10px;
		font-size: 40px;
		margin-top: 40px;
		margin-left: 0;
	}

	#b4loca
	{
		min-width: 10px;
		height: 2050px;
		width: 100%;
		margin-top: 20px;
		width: 100%;
	}

	.b4locmen11
	{
		height: 2050px;
		width: 100%;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b4locmen111
	{
		flex: 1;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b4locmen1111
	{
		height: 70px;
		width: 100%;
		font-family: 'KaushanScript-Regular', Impact, 'Times New Roman';
		font-size: 50px;
		background-image: linear-gradient(to bottom right, #3d923a 0%, #beff7f 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.b4locmen112, .b4locmen114, .b4locmen116
	{
		height: 50px;
		width: 100%;
		width: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: center;
	}	


	.b4locmen113
	{
		height: 420px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-top: -1%;
	}

	.b4locmen115
	{
		height: 420px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 1%;
		margin-top: 4%;
	}

	.b4locmen117
	{
		height: 490px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 200px;
		margin-top: -40px;
	}

	.n4ote1131, .n4ote1132, .n4ote1133, .n4ote1151, .n4ote1152, .n4ote1153, .n4ote1171, .n4ote1172, .n4ote1173
	{
		flex: 1;
		text-align: center;
		text-decoration: none;
		width: 90%;
	}

	.n4ote11711
	{
		position: relative;
		padding-top: 60px;
	}

	.n4ote11712
	{
		position: relative;
		padding-bottom: 40px;
	}

	.n4ote1121, .n4ote1123
	{
		width: 100%;
	}

	.n4ote1122
	{
		width: 280px;
		white-space:nowrap;
	}

	.n4ote1142
	{
		width: 280px;
		white-space:nowrap;
		text-align: center;
	}

	.n4ote1162
	{
		width: 280px;
		white-space:nowrap;
	}

	.red4
	{
		width: 48%;
		position: relative;
		left: -18%;
	}

	.red41
	{
		width: 48%;
		position: relative;
		left: 23%;
	}

	.red42
	{
		width: 70%;
		position: relative;
		left: -4%;
	}

	.red421
	{
		width: 70%;
		position: relative;
		left: 10%;
	}

	.red43
	{
		width: 80%;
		position: relative;
		left: 2%;
	}

	.red431
	{
		width: 80%;
		position: relative;
		left: 2%;
	}

}

/*  Début Fin Phone CSS Menu 4-----------------------------------------------------------------------------------------  */