/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Angelina";
  src: url("./fonts/angelina.eot"); /* IE9 Compat Modes */
  src: url("./fonts/angelina.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/angelina.otf") format("opentype"), /* Open Type Font */
    url("./fonts/angelina.svg") format("svg"), /* Legacy iOS */
    url("./fonts/angelina.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/angelina.woff") format("woff"), /* Modern Browsers */
    url("./fonts/angelina.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}